@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogListByWriter</h1>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Blog Basligi</th>
        <th>Olusturma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Duzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogTittle</td>
            <td>@item.CreateDate</td>
            <td><span class="badge badge-info">@item.Category.CategoryName</span></td>
            <td>@item.BlogStatus</td>
            <td><a href="/Blog/BlogDelete/@item.BlogID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/BlogEdit/@item.BlogID" class="btn btn-warning">Duzenle</a></td>
        </tr>
    }
</table>
<a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Olustur</a>
