@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "BlogEdit";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Duzenleme Sayfasi</h1>
@using (Html.BeginForm("BlogEdit", "Blog", FormMethod.Post))
{
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x => x.BlogID, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Basligi")
    @Html.TextBoxFor(x => x.BlogTittle, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Thumbnail Url")
    @Html.TextBoxFor(x => x.BlogThumnailImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Gorseli")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.dynamic, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Icerigi")
    @Html.TextAreaFor(x => x.BlogContent, 10, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Guncelle</button>
}
